@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 226, 226);
}
header {
position: relative;
}
#nav_menu{
    position: relative;
    height: 25px;
    margin: 0px 20px 20px 20px;
    background-color: #411a1d;
}
#menu_opcoes{
    position: absolute;
}
#container_imagem_do_banner, #imagem_do_banner{
    border-radius: 30px 30px 0px 0px;
}
#container_imagem_do_banner{
    position: relative;
    height: 400px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    transform: scale(1) !important;
}
#nome_do_site{
    /* background-color: #85383d; */
    background-image: radial-gradient(circle, #411a1d 1%, #222 20%, transparent 50%);
    color: #c5c5c5;
    font-size: 3rem;
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
}
#imagem_do_banner{
    object-fit: cover;
    object-position: 0px 43.8%;
    height: 100%;
    width: 100%;
}
#imagem_do_banner, #container_imagem_do_banner{
}
.teste{
}
main{
}
article{
}
footer{
}
p{
}
a{
}
